<!-- <app-list></app-list> -->
<form #addForm="ngForm" (ngSubmit)="submit(addForm)">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      ngModel
      #name="ngModel"
      pattern="[a-z]*"
      required
    />

    @if(name.invalid && (name.dirty || name.touched) && name.errors) {
    @if(name.errors['pattern']) {
    <div>pattern</div>
    } @if(name.errors['required']) {
    <div>Requried</div>
    } }
  </div>
  <div>
    <label for="age">Age:</label>
    <input
      type="number"
      name="age"
      id="age"
      ngModel
      #age="ngModel"
      required
      min="18"
      max="25"
    />

    @if(age.invalid && (age.dirty || age.touched) && age.errors) {
    @if(age.errors['min']) {
    <div>age must be greater than 18</div>
    } @if(age.errors['max']) {
    <div>age must be less than 25</div>
    } @if(age.errors['required']) {
    <div>Requried</div>
    } }
  </div>
  <div>
    <input type="submit" [disabled]="addForm.invalid" class="btn btn-primary" />
  </div>
</form>
